html, body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
}

#header h1{
    margin-right: 10px;
}

.folder-contents {
    margin-left: -20px;
}

.folder {
    cursor: pointer;
}

.spinner-cursor, .spinner-cursor * {
    cursor: wait !important;
}

.hidden {
    display: none;
}

.file-tree2 {
    width: 25%;
}

.breadcrumb {
    margin-bottom: 0;
}

.html-btn {
    padding: 3px 5px;
    margin-right: 10px;
}




