<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>File Tree</title>
</head>
<body>
    <header class="header">
        <h1>Bucket: {{ bucket_name }}</h1>
        <!-- <button class="reset-button">Reload</button> -->
    </header>
    <ul id="file-tree"></ul>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>